* {
    font-family: 'Oswald', sans-serif;
}

.main-header {
    width: 100%;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.main-header__width {
    width: 1200px;
    height: 30px;

    padding: 0px 8px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    box-sizing: border-box;
}

.main-header__login {
    display: flex;
}

.main-header__btn {
    font-size: 15px;
    font-weight: 500;

    color: rgba(0, 0, 0, 0.8);
}

.main-header__btn:first-child {
    padding-right: 5px;
}

.main-header__btn:nth-child(2) {
    padding-right: 10px;
}

.main-header__btn:nth-child(3) {
    border-left: 1px solid rgba(0, 0, 0, 0.6);
    padding-left: 10px;
}

.main-header__btn:last-child {
    padding-left: 5px;
}

.main-header__link {
    text-decoration: none;
    color: inherit;
}

.nav {
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.nav__width {
    width: 1200px;
    height: 50px;

    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__title {
    font-size: 30px;
}

.nav__title a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

.nav__list {
    padding: 0px 8px;

    display: flex;
}

.nav__btn {
    padding-left: 10px;
}

.nav__tooglebtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
}

.nav__link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;

    color: inherit;
}

@media screen and (max-width: 768px) {
    .nav__width {
        display: block;
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;

        position: relative;
    }

    .nav__title {
        padding: 10px 5px
    }

    .nav__list {
        width: 100%;

        display: none;

        margin-bottom: 8px;
        padding-left: 0px;

        background-color: white;

        flex-direction: column;
    }

    .nav__btn {
        padding: 15px 8px;

        border-top: 1px solid rgba(0, 0, 0, 0.6);
    }

    .nav__btn:last-child {
        border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    }

    .nav__tooglebtn {
        padding: 11px 11px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        color: rgba(0, 0, 0, 0.8);
    }

    .nav__btn:hover {
        background-color: rgba(30, 33, 63, 0.8);
        color: rgb(240, 240, 240);
    }

    .nav__list.active {
        display: flex;
    }

    .main-content {
        width: 768px;
    }

    .main-content__top img {
        width: 100%;
    }
}